.rel{position: relative;}
.abs{position:absolute;}
.abc{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.flex{display: flex;}
.aic{align-items: center;}
button{
    outline: none;
    cursor: pointer;
}
@mixin anim($duration: 0.2s){
    transition: all $duration linear 0s;
}